.material-icons{
    cursor: pointer;
    font-size: 60px;
}

.general-button{
    border-radius: 0%;
    background: none;
    border: none;
}
.general-button:hover{
    transition: transform 0.3s ease; 
}

.color-modal{
    background-color: white;
    border: 0cap;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input-field{
    border: 0px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.color-list{
    display: flex;

}

.color-button{
    cursor: pointer;
    border: none;
    background: none;
    padding: 20px;
}